## Pagination settings ##
PER_PAGE=6
CSS_FRAMEWORK='bootstrap4'
LINK_SIZE='sm'

# decide whether or not a single page returns pagination
SHOW_SINGLE_PAGE=True

SECRET_KEY='ChangeMe'
SECURITY_PASSWORD_SALT='Salty'

ADMIN_USER='test@test.com'
ADMIN_PASS='test'

DB_PATH='auth.db'

# GPIO Pin for the door switch
DOOR_SWITCH=26

# ADS pins for voltage monitoring
PANEL_PIN=-1
BATTERY_PIN=-1

# RRD db path for voltage monitoring
RRD_PATH='power.rrd'
XML_PATH='./xml'

# RRD Interval to capture voltage stats
RRD_INTERVAL=60

# SPI Driver for bibliopixel
LED_TYPE='APA102'
CHANNEL_ORDER='RGB'
LED_COUNT=8