## Pagination settings ##
PER_PAGE = 6
CSS_FRAMEWORK = 'bootstrap4'
LINK_SIZE = 'sm'

# decide whether or not a single page returns pagination
SHOW_SINGLE_PAGE = True

SECRET_KEY = 'ChangeMe'
SECURITY_PASSWORD_SALT = 'Salty'

ADMIN_USER = 'test@test.com'
ADMIN_PASS = 'test'

DB_PATH = 'auth.db'

# GPIO Pin for the door switch
DOOR_SWITCH = 20