flask
flask-paginate
flask-security
flask-restful
pyalsaaudio
mutagen
sqlalchemy
RPi.GPIO
bcrypt
bibliopixel
adafruit-circuitpython-ads1x15
rrdtool
simpleaudio
pydub
werkzeug
email_validator
picamera
numpy 
Beautifulsoup4
simplejson
twython
emoji
spidev 
pillow 
pyserial