<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
      <link rel="stylesheet" href="../static/style.css/">
   </head>
   <body>
      <h1>Hello, World!</h1>
      <h2>The date and time on the server is: {{ time }}</h2>
      <h2>Button pressed:  {{ door }}</h2>
      <form method="POST">
         <p>Start task:</p>
         <input type="number" name="secRainbow" value="5">
         <input type="submit" name="submit" value="Rainbow">
       </form>
      <form method="POST">
         <input type="submit" name="picture" value="Take Picture">
      </form>
       <p><img src="images/test.jpg" ></p>
   </body>
</html>