{% extends "base.html" %}

{% block page_content %}
  <div class="container">
    <h2>The date and time on the server is: {{ time }}</h2>
    <h2>Button pressed:  {{ door }}</h2>
    <div class="form-group">
      <p><label for="BatteryVoltage">Battery Voltage: {{ batteryVoltage }}</label></p>
      <p><label for="BatteryVoltage">Panel Voltage: {{ panelVoltage }}</label></p>
    </div>
    <div class="form-group">
      <p>Start task:</p>
      <input type="number" name="secRainbow" value="{{ secRainbow }}">
      <button type="submit" class="btn btn-dark" value="Rainbow" name="submit">Rainbow</button>
      <button type="submit" class="btn btn-dark" value="ColorRotate" name="submit">Color Rotate</button>
    </div>
    <div class="form-group">
      <p>Start song:</p>
      <button type="submit" class="btn btn-dark" value="StartSong" name="submit">Start Song</button>
      <button type="submit" class="btn btn-dark" value="StopSong" name="submit">Stop Song</button>
    </div>
    <div class="form-group">
        <button type="submit" name="submit" class="btn btn-dark" value="Take Picture">Take Picture</button>
        <img src="images/test.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    </div>
  </div>
{% endblock %}