{% extends "base.html" %}
{% block head %}
  <style>
    .playList, .songList { list-style-type: none; margin: 0; float: left; margin-right: 10px; background: #eee; padding: 5px; width: 100%;}
    .playList li, .songList li { margin: 5px; padding: 5px; font-size: 1.2em; width: 100%; }
  </style>
{% endblock %}

{% block script %}
    <script src="/static/music.js"></script>
    <script src="/static/jquery-ui-touch-punch.js"></script>
{% endblock %}

{% block page_content %}
  <div class="container">
    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          <input type="range" min="0" max="100" name="intVolume" value={{ intVolume }} />
          <button type="submit" class="btn btn-dark" value="SetVolume" name="submit">Set Volume</button>
        </div>
        <div class="col-md-4">
          <h2>Playing song:</h2>
          <h5 id="playingSong"></h5>
        </div>
      </div>
    </div>
    <div class="form-group">
      <input type="file" name="fileMusic">
      <button type="submit" class="btn btn-dark" value="UploadMusic" name="submit">Upload Music</button>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-dark" value="stopMusic" name="submit">Stop Music</button>
    </div>
    <div class="form-group">
      <div class="col-md-4">
        Show Config:
        <select class="form-control" name="configName">
          <option>defaults</option>
          <option>halloween</option>
          <option>forth_of_july</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          <ul class="list-group songList connected" id="songList" name="songList">
            {% for musicFile in musicFiles %}
            <li class="list-group-item ui-draggable ui-draggable-handle">
              <button type="submit" class="btn btn-link" draggable="true" value="{{musicFile}}" name="playMusic">{{ musicFile }}</button>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-group playList connected" id="playList" name="playList">
            {% for item in playList %}
            <li class="list-group-item ui-draggable ui-draggable-handle">
              <button type="submit" class="btn btn-link" draggable="true" value="{{item}}" name="playMusic">{{ item }}</button>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-dark" id="updatePlayList" name="updatePlayList">Update Playlist</button>
        </div>
      </div>
      <div class="row">
    </div>
  </div>
{% endblock %}