{% extends "base.html" %}

{% block page_content %}
  <div class="container">
    <div class="form-group">
      <input type="range" min="0" max="100" name="intVolume" value={{ intVolume }} />
      <button type="submit" class="btn btn-dark" value="SetVolume" name="submit">Set Volume</button>
    </div>
    <div class="form-group">
      <input type="file" name="fileMusic">
      <button type="submit" class="btn btn-dark" value="UploadMusic" name="submit">Upload Music</button>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-dark" value="stopMusic" name="submit">Stop Music</button>
    </div>
    <div class="form-group">
      <div class="row">
        {% for musicFile in musicFiles %}
          <div class="col-md-4">
            <button type="submit" class="btn btn-link" value="{{musicFile}}" name="playMusic">{{ musicFile }}</button>
          </div>
          {% if loop.index > 0 and loop.index % 4 == 0 %}
      </div>
      <div class="row">
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}